@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

:root{

--bg:#050505;
--card:#101010;
--card2:#171717;
--border:#2d2d2d;
--text:#ffffff;
--muted:#b5b5b5;
--hover:#1e1e1e;

--radius:22px;

--shadow:0 10px 35px rgba(0,0,0,.35);

}

body{

font-family:"IBM Plex Sans Arabic",sans-serif;

background:var(--bg);

color:var(--text);

overflow-x:hidden;

line-height:1.8;

}

img{

max-width:100%;

display:block;

}

a{

text-decoration:none;

color:inherit;

}

section{

width:min(1200px,92%);

margin:auto;

padding:120px 0;

}

h1,h2,h3{

font-weight:700;

}

p{

color:var(--muted);

}







header{

position:fixed;

top:0;

left:0;

right:0;

height:85px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 7%;

background:rgba(5,5,5,.72);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.05);

z-index:999;

}

.logo{

display:flex;

align-items:center;

gap:14px;

font-size:22px;

font-weight:700;

letter-spacing:.5px;

}

.logo img{

width:42px;

height:42px;

object-fit:contain;

}

nav{

display:flex;

gap:40px;

}

nav a{

font-size:15px;

font-weight:500;

transition:.3s;

position:relative;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:white;

transition:.35s;

}

nav a:hover::after{

width:100%;

}









.hero{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:74px;

line-height:1.1;

max-width:950px;

margin-bottom:25px;

}

.hero p{

font-size:22px;

max-width:720px;

margin-bottom:45px;

}

.button{

padding:18px 42px;

background:white;

color:black;

border-radius:60px;

font-weight:700;

transition:.35s;

}

.button:hover{

transform:translateY(-6px);

box-shadow:0 15px 35px rgba(255,255,255,.18);

}









#portfolio h2{

font-size:46px;

margin-bottom:70px;

text-align:center;

}

#portfolio-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

gap:35px;

}
